@model Himchistka.Models.DataBase.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изменить "Order"</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AcceptanceDate" class="control-label"></label>
                <input asp-for="AcceptanceDate" class="form-control" />
                <span asp-validation-for="AcceptanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadyDate" class="control-label"></label>
                <input asp-for="ReadyDate" class="form-control" />
                <span asp-validation-for="ReadyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceptionPoint" class="control-label"></label>
                <input asp-for="ReceptionPoint" class="form-control" />
                <span asp-validation-for="ReceptionPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery" class="control-label"></label>
                <select name="delivery" class="form-select">
                    <option value="true">Доставка нужна</option>
                    <option value="false">Доставка не нужна</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalPrice" class="control-label"></label>
                <input asp-for="FinalPrice" class="form-control" />
                <span asp-validation-for="FinalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <input asp-for="PaymentType" class="form-control" />
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="mb-3 mt-3">
                @if (User.IsInRole("admin"))
                {
                    <button type="submit" class="btn btn-success">Подтвердить</button>
                }
                <a asp-controller="Orders" asp-action="Index" class="btn btn-primary">
                    Назад к списку
                </a>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
