@using Microsoft.AspNetCore.Http;

@{
    
}

<style>
    h2 {
        font-family: Ostrovsky;
        font-weight: bold;
        font-size: 3em; /* установка размера шрифта */
        text-align: center; /* выравнивание текста по центру */
        margin-top: 5%; /* добавление отступа сверху */
    }
</style>

<h2>Добро пожаловать в систему!</h2>
    
