@model Himchistka.Models.DataBase.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детали</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalPerson.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.PhysicalPersonId">Изменить</a> |
    <a asp-action="Index" class="btn btn-secondary"> Назад к списку</a>
</div>
