@model Himchistka.Models.DataBase.Employee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Измененить "Employee"</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhysicalPersonId" />
            <div class="form-group">
                <label asp-for="Post" class="control-label"></label>
                <input asp-for="Post" class="form-control" />
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>
            <div class="mb-3 mt-3">
                @if (User.IsInRole("admin"))
                {
                    <button type="submit" class="btn btn-success">Изменить</button>
                }
                <a asp-controller="Employees" asp-action="Index" class="btn btn-primary">
                    Назад к списку
                </a>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
